.reserv-container{
    margin: 112px auto auto auto;
    width:90%;
   
}

.image-box img{
    margin-right: 20px;
    height: 300px;
    width: 500px;
    float: left;
    border-radius: 10px;
}

.items-box{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   padding: 10px;
   box-shadow: 0px 0px 1px 1px #d3d2d2d4;
   margin-bottom: 25px;
    
}
.items-name h4{
    margin: 0px;
    padding-bottom: 6px;
}
 .items-top h4{
    margin: 0px;
    font-weight: normal;

}
.items-name{
   flex: 4;

}

 .items-top{
    flex: 0.6;
    color: #ff0000;
}

#black h4{
    color: #000;
}
.items-btn{
    background: #ff0000;
    flex: 0;
    padding: 13px;
    box-shadow: 0px 0px 1px 1px #ff000094;
    color: #fff;
    border-radius: 10px;
}

 #gray{
    background: #C6C3C3;
    box-shadow: 0px 0px 1px 1px #d3d2d2d4;
   
}

.event-container{
    margin: 110px auto auto auto;
}

.form-container{
    width: 90%;
    margin: auto;
}

.form-box{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}
.box-1{
    margin-bottom: 30px;
    margin-right: 20px;
}
.box-1 input[type="date" i] {
    width: 400px;
    height: 40px;
}

.box-1 input[type="number" i]{
    width: 400px;
    height: 40px;
}

.box-1 #select-room{
    width: 406px;
    height: 46px;
    border-radius: unset;
    margin-right: 0px;

}

#box-design{
    width: 406px;
    height: 200px;
    border: #C6C3C3 1px solid; 
}

.box-1 input[type="checkbox" i] {
    margin: 15px;
}

.box-1 h4{
    margin-left: 8px;
}

.box-1 input[type="submit" i]{
    position: relative;
    top: 143px;
    left: 260px;
    width: 150px;
    height: 60px;
    background: #ff0000;
    border: #ff0000 1px solid; 
    color: #fff;
    font-size: 18px;
}


.gallery-container{
    margin: 110px auto auto auto;
}
.gal-box{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
   text-align: center;
}
.gal-box li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    font-size: 18px;
}

.gal-box li:hover{
    color: #ff0000;
    cursor:alias;
    border-bottom: #ff0000 2px solid;
    
}
.gal-img-box{
    text-align: center;
}
.gal-img-box img{
    width: 350px;
    height: 250px;
}



.contact-container{
    width: 90%;
    margin-top: 110px;
    margin-left: auto;

}

.get-intouch{
    width: 40%;
    border: #C6C3C3 1px solid;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
  
}

.get-intouch input[type="email" i] {
    width: 389px;
    height: 30px;
   margin-bottom: 25px;
}

.get-intouch h4{
    color: #ff0000;
    text-align: center;
}

.get-intouch p{
    color: #C6C3C3;
}

.get-intouch input[type="submit" i]{
    position: relative;
    left: 317px;
    background: red;
    height: 30px;
    width: 80px;
    border-color: #ff0000;
    color: #fff;
}


.info{
    width: 30%;
    border: #C6C3C3 1px solid;
    padding: 20px;
    margin-bottom: 20px; 
}

.info h4{
    color: #ff0000;
    text-align: center;
}

.contact-flex{
    display: flex;
    flex-direction: row;
}

