@import url('other.css');
:root {
  --redColor: #ff0000;
  --whiteColor: #fff;
  --lightGrey: #f1fbff;
  --blackColor: #000;
  --greyWhite: #ffffffe3;
  --customBorder: #d3d2d2d4 1px solid;

  /* size */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* custom style for h2 span and hr */
h2 {
  text-align: center;
}

span {
  color: var(--redColor);
}

hr {
  width: 80px;
  border-top: none;
  border-bottom: #d3d2d2d4 5px dotted;
  margin: 10px auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 700px) {
  /* Header styles */
  .mobile-header {
    position: sticky;
    top: 0;
    width: 100%;
    background: var(--whiteColor);
    border-bottom: var(--redColor) 2px solid;
    z-index: 1;
  }
  .logo img {
    height: 80px;
  }
  .menu-toggle {
    position: absolute;
    top: 10px;
    right: 15px;
  }

  .menu-toggle {
    background-color: var(--whiteColor);
    font-size: 40px;
    font-weight: bold;
    border-color: var(--lightGrey);
    border-style: double;
    width: 45px;
  }
  .hide-mobile-menu {
    display: none;
  }
  .mobile-menu {
    padding: 10px 0;
    width: 100%;
    position: absolute;
    background-color: var(--greyWhite);
    border-bottom: 2px solid var(--redColor);
  }
  .mobile-menu li {
    list-style: none;
    display: block;
    padding: 10px;
    font-size: 18px;
  }
  .mobile-menu li:hover {
    width: 100%;
    background-color: var(--whiteColor);
    color: var(--lightGrey);
  }

  .mobile-menu a {
    text-decoration: none;
    color: var(--redColor);
  }
  .mobile-menu a:hover {
    color: var(--blackColor);
  }
  /* slider and banner section */
  .banner img {
    width: 100%;
    height: 300px;
  }

  /* search form section */

  .search-form {
    background: var(--lightGrey);
    padding: 20px 20px;
  }

  .search-form label {
    display: block;
    margin: 10px 0 5px 0;
    text-align: left;
  }
  .search-form input[type='date' i] {
    height: 40px;
    width: 100%;
    border: var(--customBorder);
  }

  #select-room {
    width: 100%;
    height: 44px;
    border: var(--customBorder);
  }

  #select-adult {
    height: 44px;
    width: 100%;
    margin-bottom: 10px;
    border: var(--customBorder);
  }

  .search-form input[type='submit' i] {
    height: 45px;
    width: 100%;
    background: var(--redColor);
    color: var(--whiteColor);
    border: var(--customBorder);
  }

  /* Room section on mobile view */
  .main-container {
    width: 80%;
    margin: auto;
  }

  .room-box {
    position: relative;
    margin: 20px 0;
  }
  .room-box img {
    width: 100%;
    height: 250px;
  }

  .room-box .room-name {
    position: absolute;
    bottom: 0px;
    background: var(--greyWhite);
    width: 100%;
    height: 50px;
    padding: 10px 0 0 10px;
  }

  .room-price {
    position: absolute;
    right: 10px;
  }

  /* Review section */
  .mobile-review-view {
    display: none;
  }
  .review-box {
    position: relative;
    background: var(--lightGrey);
    text-align: center;
    padding: 20px 0;
    /* margin: 20px 0; */
  }

  .review-box img {
    width: 150px;
    height: 150px;
  }

  .review-box h4 {
    margin: 0px;
  }

  .review-box p {
    width: 80%;
    margin: auto;
    color: #000000b3;
    line-height: 1.7;
  }

  /* Review navigation control */

  #prev {
    width: 4%;
    position: absolute;
    left: 20px;
    top: 100px;
  }
  #next {
    width: 4%;
    position: absolute;
    top: 100px;
    right: 20px;
  }

  .footer {
    background: var(--blackColor);
    text-align: center;
  }

  .footer p {
    color: var(--whiteColor);
    padding: 20px;
    margin: 0px;
  }
}

@media only screen and (min-width: 700px) {
  /* Header styles */
  .header-navigation {
    position: sticky;
    top: 0;
    width: 100%;
    background: var(--whiteColor);
    border-bottom: var(--redColor) 2px solid;
    z-index: 1;
  }
  .logo img {
    height: 80px;
  }
  /* this hide the toggle btn */
  .hide-toggle {
    display: none;
  }

  .navbar {
    position: absolute;
    top: 30px;
    right: 0;
  }
  .navbar li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    font-size: 18px;
  }

  .navbar a {
    text-decoration: none;
    color: var(--redColor);
  }
  .navbar a:hover {
    color: var(--blackColor);
  }

  /* slider and banner section */
  .banner img {
    width: 100%;
    height: 350px;
  }

  /* search form section */

  .search-form {
    position: relative;
    bottom: 50px;
    background: var(--lightGrey);
    padding: 10px;
    background: var(--whiteColor);
    box-shadow: var(--lightGrey) 1px 1px 1px 1px;
    border-radius: 5px;
    width: 90%;
    margin: auto;
  }

  .form-grid-two {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto;
  }

  .search-form label {
    display: block;
    margin: 5px 0 5px 0;
  }
  .search-form input[type='date' i] {
    width: 100%;
    height: 40px;
    border: var(--customBorder);
  }

  #select-room {
    width: 100%;
    height: 44px;
    border: var(--customBorder);
  }

  #select-adult {
    width: 100%;
    height: 44px;
    margin-bottom: 10px;
    border: var(--customBorder);
  }

  .search-form input[type='submit' i] {
    width: 100%;
    height: 45px;
    background: var(--redColor);
    color: var(--whiteColor);
    border: var(--customBorder);
  }

  /* Room section on mobile view */

  .rooms-container {
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto;
    align-content: center;
  }
  .main-container {
    width: 90%;
    margin: auto;
  }

  .room-box {
    position: relative;
    margin: 20px 0;
  }
  .room-box img {
    width: 100%;
    height: 200px;
  }

  .room-box .room-name {
    position: absolute;
    bottom: 0px;
    background: var(--greyWhite);
    width: 100%;
    height: 50px;
    padding: 10px 0 0 10px;
  }

  .room-price {
    position: absolute;
    right: 10px;
  }

  /* Review section */

  .review-box {
    background: var(--lightGrey);
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
  }

  .review-box img {
    width: 150px;
    height: 150px;
  }

  .review-box h4 {
    margin: 0px;
  }

  .review-box p {
    width: 70%;
    margin: auto;
    color: #000000b3;
    line-height: 1.7;
  }

  #prev {
    width: 2%;
    position: absolute;
    left: 20px;
    top: 100px;
  }
  #next {
    width: 2%;
    position: absolute;
    top: 100px;
    right: 20px;
  }
  .footer {
    background: var(--blackColor);
    text-align: center;
  }

  .footer p {
    color: var(--whiteColor);
    padding: 20px;
    margin: 0px;
  }
}

@media only screen and (min-width: 760px) {
  /* Header styles */
  .header-navigation {
    position: sticky;
    top: 0;
    width: 100%;
    background: var(--whiteColor);
    border-bottom: var(--redColor) 2px solid;
    z-index: 1;
  }
  .logo img {
    height: 80px;
  }
  /* this hide the toggle btn */
  .hide-toggle {
    display: none;
  }

  .navbar {
    position: absolute;
    top: 30px;
    right: 0;
  }
  .navbar li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    font-size: 18px;
  }

  .navbar a {
    text-decoration: none;
    color: var(--redColor);
  }
  .navbar a:hover {
    color: var(--blackColor);
  }

  .banner img {
    width: 100%;
    height: 600px;
  }

  .search-form {
    position: relative;
    bottom: 50px;
    background: var(--whiteColor);
    box-shadow: var(--lightGrey) 1px 1px 1px 1px;
    border-radius: 10px;
    width: 90%;
    text-align: left;
  }
  .two-col {
    display: inline;
  }
  .form-grid-two {
    display: inline;
  }

  .search-form label {
    display: inline;
    margin: 5px 0 5px 0;
  }
  .search-form input[type='date' i] {
    width: 20%;
    height: 40px;
    border: var(--customBorder);
  }

  #select-room {
    height: 44px;
    width: 10%;
    border: var(--customBorder);
  }

  #select-adult {
    width: 10%;
    height: 44px;
    margin-bottom: 10px;
    border: var(--customBorder);
  }

  .search-form input[type='submit' i] {
    width: 10%;
    height: 45px;
    background: var(--redColor);
    color: var(--whiteColor);
    border: var(--customBorder);
  }

  /* Room section on mobile view */

  .rooms-container {
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto;
    align-content: center;
  }
  .main-container {
    width: 90%;
    margin: auto;
  }

  .room-box {
    position: relative;
    margin: 20px 0;
  }
  .room-box img {
    width: 100%;
    height: 200px;
  }

  .room-box .room-name {
    position: absolute;
    bottom: 0px;
    background: var(--greyWhite);
    width: 100%;
    height: 50px;
    padding: 10px 0 0 10px;
  }

  .room-price {
    position: absolute;
    right: 10px;
  }

  /* Review section */

  .review-box {
    position: relative;
    background: var(--lightGrey);
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
  }

  .review-box img {
    width: 150px;
    height: 150px;
  }

  .review-box h4 {
    margin: 10px 0;
    text-transform: uppercase;
  }

  .review-box p {
    width: 40%;
    margin: auto;
    color: #000000b3;
    line-height: 1.7;
  }
  #prev {
    width: 2%;
    position: absolute;
    left: 20px;
    top: 100px;
  }
  #next {
    width: 2%;
    position: absolute;
    top: 100px;
    right: 20px;
  }

  .footer {
    background: var(--blackColor);
    text-align: center;
  }

  .footer p {
    color: var(--whiteColor);
    padding: 20px;
    margin: 0px;
  }

  /* Dinner styles section */
  .rest-box {
    /* width: 80%; */
    height: 250px;
    margin: 0px auto 20px auto;
    border: var(--blackColor) 1px solid;
    padding: 20px;
  }

  .rest-box img {
    margin-right: 10px;
    width: 300px;
    height: 200px;
    float: left;
    border-radius: 10px;
  }

  .rest-box .descr {
    text-align: justify;
    width: 80%;
    font-size: 19px;
    font-style: italic;
  }

  .rest-box .read-more {
    float: right;
    font-style: italic;
  }

  .clear-float {
    clear: both;
  }
}
